.catalog-container {
	display: grid;
	grid-template-columns: 250px 1fr;
	gap: 20px;
	margin: 20px;
	align-items: start;
}

.product-list-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.product-list-header {
	display: flex;
	flex-wrap: nowrap;
	/* Убираем перенос строк */
	align-items: center;
	justify-content: space-between;
	/* Элементы по краям */
	margin-bottom: 20px;
}

@media (max-width: 1200px) {
	.catalog-container {
		grid-template-columns: 1fr;
		gap: 5px;
		/* Уменьшаем зазор для мобильных */
	}

	.product-list-header {
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		width: 100%;
	}
}

@media (max-width: 390px) {
	.product-list-header {
		grid-template-columns: 1fr;
		gap: 3px;
	}
	
}