.add-to-cart-button {
	background-color: #ff9900;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
	transition: background-color 0.3s ease, opacity 0.3s ease;
	text-align: center;
}

.add-to-cart-button:hover {
	background-color: #e68a00;
}

/* Когда товар в корзине */
.add-to-cart-button.added {
	background-color: #ff9900;
	opacity: 0.4;
	/* Делаем кнопку более тусклой */
}

.add-to-cart-button.added:hover {
	background-color: #e68a00;
	/* При наведении кнопка немного ярче */
	opacity: 0.6;
	/* Увеличиваем яркость на 10% */
}

/* Для состояния, когда товар уже в корзине, но пользователь не может нажать */
.add-to-cart-button-placeholder {
	background-color: #f0f0f0;
	color: #ddd;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: not-allowed;
	width: 100%;
	margin-top: 12px;
}

/* Когда товара нет в наличии */
.add-to-cart-button:disabled {
	background-color: #f0f0f0;
	color: #ddd;
	cursor: not-allowed;
}

.add-to-cart-button:disabled:hover {
	background-color: #f0f0f0;
}