/* Контейнер для фильтра категорий */
.category-filter {
	position: relative;
	width: 100%;
	margin-left: 0;
	background-color: #fff;
	/* Белый фон для списка элементов */
	padding: 0;
}

/* Заголовок (надпись) «Категории» */
.category-filter-header {
	padding: 12px 16px;
	font-size: 16px;
	font-weight: 600;
	color: #1c1c1e;
	/* Тёмный цвет текста */
	background-color: transparent;
	/* Прозрачный фон */
	border-bottom: 1px solid #e5e5ea;
}

.category-filter h4 {
	padding: 20px 5px 10px 10px;
	background-color: #F4F4F9;
}

/* Основной элемент категории */
.category-item {
	cursor: pointer;
	padding: 12px 16px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5ea;
	/* Лёгкое подчеркивание */
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: #333;
	transition: background-color 0.3s ease;
}

/* При наведении фон изменяется так же, как и у подкатегорий */
.category-item:hover {
	background-color: #f9f9f9;
}

/* Индикатор (например, стрелка) */
.category-toggle-symbol {
	font-size: 14px;
	color: #666;
}

/* Контейнер для выпадающего списка подкатегорий */
.subcategories {
	display: none;
	background-color: #fff;
	/* Белый фон для выпадающего списка */
}

/* Отображение выпадающего списка подкатегорий при наличии класса .open */
.subcategories.open {
	display: block;
}

/* Элементы подкатегорий – оформление с полным подчеркиванием и смещением вправо */
.subcategory-item {
	cursor: pointer;
	padding: 12px 16px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5ea;
	/* Подчеркивание на весь блок */
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: #333;
	transition: background-color 0.3s ease;
	margin-left: 20px;
	/* Смещение вправо */
}

/* Убираем нижнее подчеркивание у последнего элемента подкатегории */
.subcategory-item:last-child {
	border-bottom: none;
}

/* При наведении фон изменяется, сохраняя подчеркивание */
.subcategory-item:hover {
	background-color: #f9f9f9;
}

/* Стили для фокуса подкатегории */
.subcategory-item:focus,
.subcategory-item:focus-visible {
	outline: none;
	background-color: #d1d1d6;
}

/* Активное состояние подкатегории */
.subcategory-item.active {
	color: #fff;
}