/* Уникальные стили для SortFilter */
.sort-filter {
	padding: 20px;
	background-color: #f9f9f9;
}

.sort-filter h4 {
	margin-bottom: 10px;
	font-size: 16px;
	color: #333;
}

.sort-filter select {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #FFFFFF; /* Белый фон для выпадающего списка */
	font-size: 14px;
	color: #333;
}

.sort-filter select:focus {
	border-color: #4CAF50; /* Зеленая граница при фокусе */
	box-shadow: 0 0 5px rgba(76, 175, 80, 0.2); /* Легкое свечение при фокусе */
}

.sort-filter select:active {
	border-color: #4CAF50; /* Цвет границы при активном состоянии */
}

.sort-filter select option {
	padding: 8px;
}

.sort-filter select option:focus {
	background-color: #eaeaea; /* Цвет фона для выбранной опции */
}

.sort-filter select option:active {
	background-color: #eaeaea; /* Цвет фона для выбранной опции при активном состоянии */
}
