.product-card {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 16px;
	width: 300px;
	height: auto;
	margin: 10px;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.product-card:hover {
	transform: scale(1.05);
}

/* Для изображения */
.product-image {
	width: 100%;
	height: 300px;
	background-color: #f0f0f0;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.product-image-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.product-info {
	margin-top: 12px;
	flex-grow: 1;
}

/* Заголовок товара с фиксированной высотой и ограничением на 2 строки */
.product-title {
	font-size: 12px;
	/* Размер шрифта как раньше */
	font-weight: bold;
	margin: 8px 0;
	color: #333;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	/* Ограничиваем 2 строки */
	line-clamp: 2;
	-webkit-box-orient: vertical;
	min-height: 40px;
	/* Устанавливаем минимальную высоту для заголовка */
}

/* Цена с фиксированной высотой */
.product-price {
	font-size: 14px;
	color: #b12704;
	margin: 8px 0;
	text-align: left;
	min-height: 24px;
	/* Устанавливаем минимальную высоту для цены */
}

/* Цена со скидкой */
.product-price--sale {
	font-size: 16px;
	/* Увеличиваем размер для цены со скидкой */
	font-weight: bold;
	color: red;
	/* Цвет для цены со скидкой */
	margin-right: 8px;
	/* Добавляем небольшой отступ справа */
}

/* Обычная цена, если есть скидка */
.product-price--original {
	font-size: 14px;
	text-decoration: line-through;
	color: #888;
}

/* Бренд с более крупным шрифтом и меньшими отступами */
.product-brand {
	font-size: 16px;
	/* Увеличиваем размер шрифта бренда */
	color: #555;
	margin: 4px 0;
	/* Уменьшаем отступы */
	min-height: 24px;
	/* Устанавливаем минимальную высоту для бренда */
}